.cabecalho {
    background-color: black;
    color: peru;
    text-align: center;
    margin: 0 auto
}

.principal-imagem {
    /*Dimensões da imagem: largura e altura 100 pixels*/
    width: 100px;
    height: 100px;
}